body{
    padding:5px 0px;
    margin:0px;
    background-color:#176B87;
}

.main-header{
    width:100%;
    height:100px;
    background-color:#04364A;
    padding:5px 0px;
}

.main-header ul{
    padding:0px;
    margin: 0px 38%
}

.main-header ul li {
    display: block;
    float: left;
    padding: 0px 10px;
    line-height: 100px;
    width: 100px;
    background-color:#04364A;
    text-align:center;
}

.main-header ul li button{
    height:40px;
    width:100%;
    background-color:#FFCC70;
    border:#FFFADD solid;
    border-radius:10px;
    color:#213555;
    cursor: pointer;
    
}

.main-header ul li button:hover{
    background-color:#4D2DB7;
    border:#952323 solid;
    color:#45FFCA;
    border-radius:10px;
    cursor: pointer;
    
}

.main-p{
    width:100%;
    height:fit-content;
    background-color:#FFFADD;
    margin-top:30px;
    padding: 1px 0px;
    font-size:20px;
    text-align:center;
    color:#213555;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.main-p img{
    width:70px;
    height:100px;
}

.main-p h1{
    color:#4D2DB7;
}

.main-footer{
    width:100%;
    height:50px;
    background-color:#04364A;
    position:absolute;
    bottom:0;
    color:#fff;
}

.main-t{
    width:100%;
    height:500px;
    background-color:#FFFADD;
    margin-top:30px;
    padding: 1px 0px;
    font-size:20px;
    color:#213555;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.main-t table{
    width:100%;
}

.main-t table, th, td{
    border:#176B87 solid 2px;
    border-color:#BEADFA;
    color:#96B6C5;
}

.main-t form{
    background-color:#FFCC70;
}

.main-t input, textarea{
    width: 100%;
    padding: 12px;
    border: 3px solid #FFFADD;
    color:#213555;
    background-color:#FFCC70;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

#t-area{
    height:200px;
}

.main-t label{
    color:#213555;
}

.main-t .sub{
    width:200px;
    margin-left:45%;
    cursor: pointer;
}

.main-t .sub:hover{
    background-color:#fad184;
}

.main-t .sub:active{
    width:200px;
    margin-left:45%;
    background-color:#4D2DB7;
    border:#952323 solid;
    color:#45FFCA;
    border-radius:10px;
    
}
